.search-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    /* Tidak usah align-items agar full width */
    gap: 0.5rem;
}

.form-group label {
    color: white;
}

.form-group input, .form-group select, .form-group option {
    padding: 1rem 
}

.search-results {
    margin-top: 2.5rem;
}

.search-results-header p {
    color: var(--white);
    font-weight: bold;
    margin-bottom: 1rem;
}

.search-results-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-result {
    background: var(--black-lighter);
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 17.5rem;
    text-decoration: none;
    transition: all 0.3s linear;
}

.single-result:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.single-result img {
    margin: 0 auto;
    width: 100%;
}

.result-header {
    margin-top: 16px;
}

.result-header p {
    color: var(--white);
}

.result-header p.title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.result-dategenre {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.result-dategenre p {
    color: var(--white);
}

@media (min-width: 800px) {
    /* Untuk 800px ke atas */
    .search-results-flex {
        flex-direction: row;
        flex-wrap: wrap;
    }
}