.black-navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.pad-32 {
    padding: 2rem;
}

.pad-32 a img {
    height: 3rem;
}

.pad-32 button img {
    height: 2rem;
}

.black-navbar, .black-navbar img {
    background: var(--nav-black);
}

.toggle, .toggle-rotate {
    cursor: pointer;
    transition: all 0.3s linear;
    background: var(--nav-black);
}

.toggle-rotate {
    transform: rotate(90deg);
    background: var(--nav-black);
}

.toggle:hover {
    transform: scale(1.05);
}

.toggle-rotate:hover {
    transform: scale(1.05) rotate(90deg);
}

.nav-container {
    background: var(--nav-black);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(-200%);
    transition: all 0.3s linear;
    padding-bottom: 0.5rem;
}

.nav-container.show {
    transform: translateY(0);
}

.nav-search form {
    padding: 1rem 2.5rem;
    background: var(--black-lighter);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-search form label {
    color: var(--white);
}

.nav-search-input {
    display: none;
}

.nav-link {
    padding: 1rem 2.5rem;
    background: var(--black-lighter);
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s linear;
}

.nav-link:hover {
    padding-left: calc(2.5rem + 0.5rem);
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search-input {
    padding: 1rem 2.5rem;
    display: flex;
    align-items: stretch;
    background: var(--black-lighter);
}

.nav-search-input input {
    padding: 1rem;
    width: 100%;
    border: none;
    outline: none;
}

.nav-search-input button {
    background: var(--white);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.nav-search-input img {
    background: var(--white);
}

.top-search-input {
    display: none;
}

.nav-right-portion, .nav-left-portion {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-username {
    background: var(--white);
    border-radius: 10rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-username img {
    background: var(--white) !important;
    height: 1rem;
}

@media (min-width: 800px) {
    .nav-search-input {
        display: none;
    }

    .top-search-input {
        display: flex;
        align-items: stretch;
    }
    
    .top-search-input input {
        padding: 1rem;
        width: 100%;
        border: none;
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
        outline: none;
    }
    
    .top-search-input button {
        background: var(--white);
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s linear;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }
    
    .top-search-input button img {
        background: var(--white);
    }
}

@media (min-width: 1024px) {
    .nav-left-portion a {
        display: none;
    }

    .nav-right-portion .toggle {
        display: none;
    }

    .nav-right-portion .toggle-rotate {
        display: none;
    }

    .nav-container {
        display: none;
    }
    
    .nav-link {
        display: none;
    }
}