.details-header {
    color: var(--white);
    font-weight: bold;
    margin-bottom: 1rem;
}

.album-detail-flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 800px) {
    .album-detail-flex {
        flex-direction: row;
        gap: 2rem;
    }

    .album-details {
        align-self: flex-end;
    }
}

.line-break {
    width: 100%;
    height: 2px;
    background: var(--white);
    margin: 2rem 0;
}

.album-details svg {
    height: 1rem;
}

.album-cover {
    max-width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
}

.album-title {
    color: var(--white);
    font-weight: bold;
    margin-top: 1rem;
    font-size: 2rem;
}

.album-artist {
    color: var(--white);
    margin-top: 0.25rem;
}

.album-duration {
    color: var(--white);
    margin-top: 1.5rem;
}

.songs-list-header {
    color: var(--white);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.songs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.single-song {
    width: 11.25rem;
    background: var(--black-lighter);
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.single-song:hover {
    transform: scale(1.05);
}

.single-song img {
    width: 100%;
    height: 9.125rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.single-song p {
    color: var(--white);
}

.song-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.song-dateduration {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.info {
    color: var(--white);
    margin-top: 0.5rem;
}