.article-heading {
    font-weight: bold;
    color: var(--white);
    font-size: 2rem;
}

.songs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.single-song {
    background: var(--black-lighter);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 11.25rem;
    text-decoration: none;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    position: relative;
}

.single-song:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.top-section {
    width: 100%;
}

.single-song img {
    margin: 0 auto;
    width: 100%;
    height: 9.125rem;
    object-fit: cover;
}

.song-header {
    margin-top: 16px;
}

.song-header p {
    color: var(--white);
}

.song-header p.title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.song-dategenre {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.song-dategenre p {
    color: var(--white);
    font-size: 0.8rem;
}

.song-dategenre .genre {
    text-align: right;
}

.right-side {
    position: sticky;
    top: 0;
    width: 19.5rem;
    background: var(--white);
    height: 100vh;
    padding: 1.5rem;
    z-index: 998;
}

.right-side img {
    margin-bottom: 1rem;
}

.right-side a {
    color: var(--darkgreen);
}

.info {
    color: var(--white);
    margin-top: 0.5rem;
}